/**
 * 	全局变量
 * 	命名规范 —— 遵守语义化命名：lg-大号、md-中号、base-基本号、sm-小号、mini-超小号 
 *
 *	全局容器
 */

/* 容器 */
//$width-lg: 1200px;
$width-lg: 1920px;

$font-weight-base: 400;

//padding
$sm-pd: 15px;
$md-pd: 30px;
$md-pd-c: 110px;
$lg-pd-c: 150px;
$lg-pd-max: 320px;

//字体大小
$font-size-lg: 40px;
$font-size-mds: 2rem;
$font-size-md: 1.667rem; //20
$font-size-base: 1.333rem; //16
$font-size-sm: 1.167rem;
$font-size-mini: 1rem;

//字体色
$color-body-c: #6d7ecf;

$color-important: #121723;
//$color-important: #121231;
$color-common: #7b8eb5;

$color-desc: #909090;
$color-disabled: #BFBFBF;
$color-error: #F04134;
$color-warn: #F5A623;
$color-lighting: #9013FE;

$color-white: #fff;
$color-black: #2d395b;
$color-black-g: #555;
//淡灰
$color-gray-bg: #eee;
//字体灰
$color-gray: #b2b2b2;

$color-violet-dark: #922fb7;

//橙色
$color-orange: #ff9800;
$color-red: #eb3753;
$color-green:#41b37d;

//投影色
$border-color-base: rgba(0, 0, 0, .1);
$color-blue-bg: #007aff;

//容器
.container-wd {width: $width-lg;margin: 0 auto;}
@media only screen and (max-width: 1440px) {
	//小屏容器
	.container-wd {
		width: 100%;
		.ivu-row , .ivu-row-flex {
			padding: 0 15px;
		}
	}
}